<!-- <div class="login-wrapper"> -->
 <!-- <img width="300px" src="/images/gutten-bier-logo.png"> -->
 <form class="login-form" method="POST" action="/login">
  <fieldset class="login-fieldset"> 
    <LEGEND>Login to your account</LEGEND>
    <label>Email</label>
    <input type="email" name="email"/>
    <br>
    <label>Password</label>
    <input type="password" name="password" />

   </fieldset>
    <button class="submit" type"submit">Login!</button><br>
        <a href="recoverpassword.html">Can't remember password?</a>
 </form>
<!-- </div> -->