
<body>

<!--  <div class="wrapper-all"> 
  <img src="public/images/gutten-bier-logo.png">
  <p class="centered-copy">Sign up now to join Ontario's largest home-brew community.</p> -->
 

   <!-- <div class="wrapper-section1"> -->
  <form class="form-signup" method="POST" action="/signup">
    <p class="left">Suspendisse potenti. Donec gravida neque urna, id hendrerit mi condimentum pellentesque. Proin at tortor ac sem mattis viverra.</p>
       
 
  
     <fieldset class="inner-form"> 
      <label class="center-inputs">First Name:</label>
      <br>
      <input class="center-inputs" type="text" name="firstname" />
      <br>
     <!--  <label class="center-inputs">Middle Name:</label>
      <br> 
      <input class="center-inputs" type="text" />
      <br>-->
      <label class="center-inputs">Last Name:</label>
      <br>
      <input type="text" name="lastname" />
      <br>
      <label class="center-inputs">Email:</label>
      <br>
      <input type="email" name="email"/>
      <br>
      <label class="center-inputs">Password:</label>
      <br>
      <input type="password" name="password" />
      <br>
      <label class="center-inputs">Confirm Password:</label>
      <br>
      <input type="password" />
      <br>
     </fieldset>
     <button type="submit" >Submit</button>
   </form>
 <!--  </div> -->
 </div>
</body>
